@page "/Exemple/Titluri"

@using WebDesignRazor;

@{
    ViewBag.Title = "Exemplu cu titluri";
    Layout = "../Shared/_Layout.cshtml";
}

<h1>Titlu 1</h1>
<h2>Titlu 2</h2>
<h3>Titlu 3</h3>
<h4>Titlu 4</h4>
<h5>Titlu 5</h5>
<h6>Titlu 6</h6>

<br />

<section>
    <h2>Fragmentul de cod HTML pentru această pagină:</h2>
    <code>
        <pre>@HtmlCodeHelper.ReadHtml("./Pages/Exemple/Titluri.cshtml", 9, 16)</pre>
    </code>
</section>