@page "/"
@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Pagina principală";
}

<p>Aceasta este pagina principală a website-ului Web Design Razor. Aici veți găsi diferite exemple folosind această tehnologie.</p>

<section>
    <h3>Exemple din examenele de Bacalaureat la Informatică (până la sesiunea 2021)</h3>

    <h5>Sesiunea 2021</h5>
    <a href="Bacalaureat/Sesiunea2021/ES1_2021_Umanist">Test pentru exersare nr. 1, profil umanist</a>         <br />
    <a href="Bacalaureat/Sesiunea2021/ES1_2021_Real">Test pentru exersare nr. 1, profil real</a>               <br />
    <a href="">Test pentru exersare nr. 2, profil umanist</a>         <br />
    <a href="">Test pentru exersare nr. 2, profil real</a>            <br />
    <a href="">Pretestare, profil umanist</a>                         <br />
    <a href="">Pretestare, profil real</a>                            <br />
    <a href="">Sesiunea de bază, profil umanist</a>                   <br />
    <a href="">Sesiunea de bază, profil real</a>                      <br />
    <a href="">Sesiunea suplimentară, profil umanist</a>              <br />
    <a href="">Sesiunea suplimentară, profil real</a>                 <br />
</section>