@page "/Bacalaureat/Sesiunea2021/ES2_2021_Real"

@using WebDesignRazor;

@{
    ViewBag.Title = "ES2_2021_Real";
    Layout = "../../Shared/_Layout.cshtml";
}

<table border="2">
    <tr>
        <td align="center" colspan="2"><b>Noțiuni geometrice</b></td>
    </tr>
    <tr>
        <td>Poligoane</td>
        <td>
            <ol type="a" start="3">
                <li>
                    Triunghi
                    <ul>
                        <li>echilateral</li>
                        <li>scalen</li>
                    </ul>
                </li>
                <li>Patrulater</li>
            </ol>
        </td>
    </tr>
</table>

<section>
    <h2>Fragmentul de cod HTML pentru această pagină:</h2>
    <code>
        <pre>@HtmlCodeHelper.ReadHtml("./Pages/Bacalaureat/Sesiunea2021/ES2_2021_Real.cshtml", 9, 30)</pre>
    </code>
</section>